# python stuff
*.pyc
*.pyo
__pycache__

# pelican stuff
output/
develop_server.sh

# notes and todo lists
notes.org

# input files for testing solutions
input*.txt

# scratch files for playing with python
scratch.py

# don't upload cached files
.cache
